@page "/FeaturedCoffee"
@{
    ViewData["Title"] = "Featured Coffee";
}

<h2>Featured Coffee</h2>
<p>Our featured coffee of the month is the Vienna Coffee. Made by topping coffee with whipped cream. This traditional Austrian coffee is both simple and luxurious.</p>


<img src="https://www.coffeedesk.com/blog/wp-content/uploads/2020/11/kawa_po_wiedensku_poziom-1.jpg" alt="Vienna Coffee" />
<p>Experience the unique flavors from Austria!, naturally sourced coffee.</p>