@page "/ColdCoffees"
@{
    ViewData["Title"] = "Cold Coffees";
}

<h2>Cold Coffees</h2>
<ul>
    <li>Iced Latte - Chilled and creamy iced latte</li>
    <li>Cold Brew - Smooth and refreshing cold brew</li>
    <li>Iced Coffee - Brewed coffee served cold with ice, and typically milk and sweetener.</li>
    <li> Mocha - A chocolate-flavored variant of a latte with the addition of cocoa powder and sweetener.</li>

    <img src="https://coffeehero.com.au/cdn/shop/articles/337733e5a37e7be4095dc8b9196a9e6b_2048x2048.jpg?v=1632498527"
</ul>

