@page "/HotCoffees"
@{
    ViewData["Title"] = "Hot Coffees";
}

<h2>Hot Coffees</h2>
<ul>
    <li>Espresso - Strong and bold espresso</li>
    <li>Latte - Smooth and creamy latte</li>
    <li>Cappuccino - Rich and foamy cappuccino</li>
    <li>Mocha - Chocolate flavored mocha</li>

    <img src="https://www.foodandwine.com/thmb/k8YTwOlm3J86ejoVCsrvrgoA47g=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/Partners-Americano-FT-BLOG0523-b8e18cc340574cc9bed536cceeec7082.jpg"
</ul>
